@{
  Layout = "_Layout";
}

<h1>Welcome to the Best Restaurants!</h1>
<p>@Html.ActionLink("List of Establishments", "Index", "Establishments")</p>
<p>@Html.ActionLink("List of Cuisines", "Index", "Cuisines")</p>